@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
    
}
